@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&display=swap');

:root {
    --bg: #110827;
    --bg-card: #0E1218;
    --bg-card-opac: #0e1218c9; 
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
    font-family: 'Prompt', sans-serif;
    background: var(--bg);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-container {
    /* border: 1px dashed white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  h2, h3 {
    font-weight: 400;
  }

  .card-ct {
    /* border: 1px dashed red; */
    background: #fafad2;
    border-radius: 40px;
    padding: 20px 18px;
    width: 350px;
    height: 550px;
  }

.card-item {
  /* border: 1px dashed blue; */
  background: #000;
  border-radius: 40px;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.username-ct {
  /* border: 1px dashed purple; */
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 3%;
  left: 5%;
}

.logo-git {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid white;
}

.logo-git img {
  width: 100%;
  border-radius: 50%;
  
}

.profile-img-ct {
  position: absolute;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  top: 15%;
  right: -10%;
  width: 280px;
  height: 280px;
}

.infos-ct {
  /* border: 1px dashed yellow; */
  background: var(--bg-card-opac);
  position: absolute;
  top: 60%;
  left: 0;
  padding: 20px 15px;
  border-radius: 0 30px 30px 0;
  font-size: 14px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
}

.info-item:last-child {
  margin-bottom: 0;
}

#user_img {
  width: 16px;
  height: 16px;
}

.username {
  font-size: 20px;
}

.footer-card-ct {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  position: absolute;
  bottom: 3%;
  right: 7%;
}

.footer-card-ct h3 {
  font-size: 16px;
}

.customize-container {
  /* border: 1px dashed red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: space-around;
}

.user-search-ct {
  display: flex;
  height: 40px;
}

#user-search-input {
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  font-family: 'Prompt', sans-serif;
}

#btn-search {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(83, 82, 82);
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

#btn-search img {
  width: 22px;
}

.btn {
  height: 40px;
  width: 120px;
  font-size: 16px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #fff;
  color: white;
  font-family: 'Prompt', sans-serif;
  cursor: pointer;
  transition: all .2s ease;
}

.btn:hover {
  background: #fff;
  color: var(--bg);
}

.btn:active {
  opacity: .5;
}

.changes-ct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  border: 1px solid rgba(97, 95, 95, 0.527);
  border-radius: 20px;
}

.change-items-ct {
  /* border: 1px dashed blue; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 15px;
}

.change-item {
  display: flex;
  flex-direction: column;
}

.change-item:nth-child(2) {
  justify-self: flex-end;
}

.change-item:nth-child(4) {
  justify-self: flex-end;
}

.btn-ct {
  display: flex;
  justify-content: space-between;
}




